* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

* a {
  text-decoration: none;
  text-decoration-style: none;
  color: white;
}

body {
  background-color: black;
}

.banner {
  background: url(../img/banner.png) center;
  height: 800px;
  grid-auto-rows: min-content;
}

.close {
  display: none;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font: 16px;
}

.nav-logo {
  margin-left: 50px;
  margin-top: 10px;
}

.nav-logo .circle {
  transition: all 5s;
}

.nav-logo:hover .circle {
  transform: rotateZ(360deg);
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-list a {
  display: block;
  position: relative;
  text-decoration: none;
  margin-right: 50px;
  padding: 10px;
  color: gainsboro;
  opacity: 0.8;
  font-size: 16px;
  overflow: hidden;
  transition: 0.5s all;
  /*只有快元素才能Overflow*/
}

.nav-list a:before {
  content: "";
  bottom: 0;
  width: 80px;
  position: absolute;
  border-bottom: 4px solid rgb(138, 16, 16);
  right: 100px;
  transition: 0.5s all;
}

.nav-list a:hover {
  color: white;
  opacity: 1;
}

.nav-list a:hover:before {
  right: 0;
}

.city-tip {
  grid-column: full;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: red;
  overflow: hidden;
}

span.left {
  transform: translate(-10px);
  transition: all 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) 1s;
}

span.right {
  transform: translate(10px);
  transition: all 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) 1s;
}

.flex {
  display: flex;
}
.grid {
  display: grid;
  grid-template-columns: [full-start] 1fr [main-start] 1200px [main-end] 1fr [full-end];
}

.full {
  grid-column: full;
}

.main {
  grid-column: main;
}

.tip {
  margin-top: 30px;
  grid-column: full;
  display: flex;
  background: linear-gradient(black, rgb(97, 3, 3), red);
  color: whitesmoke;
  font-size: 18px;
  height: 100px;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  clip-path: polygon(50% 10%, 100% 50%, 50% 90%, 0 50%);
  text-decoration: none;
}

.tip-content {
  position: relative;
}
.tip-content::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -100%;
  width: 50%;
  border: 1px solid red;
}
.tip-content::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -100%;
  width: 50%;

  border: 1px solid red;
}

.contract {
  margin-top: 120px;
  justify-content: space-between;
  align-items: center;
  color: white;
  opacity: 0.7;
  font-size: 14px;
}

.contract p {
  margin: 20px 2px;
}

.contract ul a {
  margin: 10px 5.5px;
  transition: all 1s;
  filter: brightness(100%);
}

.contract ul a:hover {
  filter: brightness(200%);
}

footer {
  display: grid;
  background-color: rgba(53, 51, 51, 0.651);
  height: 80px;
  color: whitesmoke;
  font-size: 12px;
  margin-top: 30px;
  place-content: center;
}
